@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Medium.eot");
  src: url("../fonts/Cairo-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Cairo-Medium.woff2") format("woff2"),
    url("../fonts/Cairo-Medium.woff") format("woff"),
    url("../fonts/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #30343a;
  --color: #ffffff;
  --dark: #1a1c20;
  --border: #363c42;
}

* {
  font-family: "Cairo";
}

html,
body {
  background-color: var(--bg-color);
  color: var(--color);
  direction: rtl;
}
.fh {
  height: calc(100vh - 70px);
}

.title {
  text-align: center;
  margin: 0;
  padding: 15px;
  font-weight: bold;
  background-color: var(--dark);
  border-bottom: 2px solid var(--border);
}
.logo {
  width: 30%;
  max-width: 100px;
}
.time {
  color: #aaa;
}

.input {
  background-color: var(--dark);
  color: var(--color);
  border: 0px solid var(--border);
  padding: 8px 20px;
  min-width: 300px;
  text-align: center;
  border-radius: 15px;
}

.dvr-time-result {
  display: inline-block;
  background-color: #1e2126;
  border: 1px solid var(--dark);
  border-radius: 13px;
  width: 300px;
  overflow: hidden;
}

.dvr-time-result input {
  display: block;
  margin-top: 0 !important;
  width: 100%;
  border-radius: 0;
}

.dvr-time-result h4 {
  display: inline-block;
  margin: 0 !important;
  color: #ff9800;
  padding: 9px;
  font-size: 20px;
  direction: ltr;
}
.dvr-time-result h4 {
  display: none;
}

.dvr-time-differnce .time-dif {
  margin-top: 4px;
  font-size: 20px;
}
.dvr-time-differnce.before .time-dif {
  color: var(--bs-danger);
}

.dvr-time-differnce.after .time-dif {
  color: var(--bs-success);
}

#hide {
  display: none;
}
